* {
  --color-pale-violet: hsl(276, 100%, 81%);
  --color-moderate-violet: hsl(276, 55%, 52%);
  --color-desaturated-dark-violet: hsl(271, 15%, 43%);
  --color-grayish-blue: hsl(206, 6%, 79%);
  --color-very-dark-desaturated-violet: hsl(271, 36%, 24%);
  --color-dark-grayish-violet: hsl(270, 7%, 64%);

  --color-white: hsl(0, 0%, 100%);
  --color-light-grayish-violet: hsl(270, 20%, 96%);
  --color-very-light-magenta: hsl(289, 100%, 72%);

  --color-light-magenta: hsl(293, 100%, 63%);
  --color-light-violet: hsl(264, 100%, 61%);

  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 16px;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: relative;
  width: 100%;
  height: 100%;
  background-color: lightblue;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Main Content */
.main-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 125px;
  background-color: var(--color-light-grayish-violet);
}

/* Chat Container */
.chat-container-outer {
  position: relative;
  width: 247px;
  height: 505px;
  background-color: var(--color-white);
  border-radius: 30px;
  padding: 11px 9.5px;
  box-shadow: 0px 30px 60px hsla(271, 36%, 24%, 25%);
}

.rectangle {
  background-color: var(--color-white);
  width: 129px;
  height: 29px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}

.chat-container-inner {
  width: 100%;
  height: 100%;
  background-color: var(--color-light-grayish-violet);
  border-radius: 20px;
  overflow: clip;
}

/* Chat Header */
.chat-header {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  background: linear-gradient(
    74deg,
    var(--color-light-violet) 0%,
    var(--color-light-magenta) 100%
  );
  width: 100%;
  height: 66px;
  padding: 30px 16.5px 12px 15.5px;
}

.header-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.header-content > * {
  flex: auto;
  color: var(--color-white);
}

.header-info {
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  align-items: center;
  row-gap: 2px;
  column-gap: 8px;
  grid-template-areas:
    "avatar name"
    "avatar status";
}

.avatar {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  grid-area: avatar;
  border: 1px solid var(--color-white);
}

.header-username {
  grid-area: name;
  font-size: 11px;
  font-weight: 500;
}

.header-status {
  grid-area: status;
  font-size: 8px;
  font-weight: 400;
  color: var(--color-pale-violet);
}

/* Chat Messages */
.chat-messages {
  padding: 10px 7.5px;
  font-size: 8px;
  font-weight: 400;
  line-height: 11px;
}

.msg-grp-left,
.msg-grp-right {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0 0 16px;
}

.msg-grp-left {
  align-items: flex-start;
}

.msg-grp-right {
  align-items: flex-end;
}

.msg-left {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 4%;
  border-bottom-right-radius: 10px;
}

.msg-right {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 10px 5px -5px hsla(271, 36%, 24%, 4.5%);
}

.regular {
  max-width: 128px;
  padding: 6px 8px;
}

div[class~="msg-left"].regular {
  background-color: #eee5f4;
  color: var(--color-moderate-violet);
}

div[class~="msg-left"].pricing {
  background: linear-gradient(
    -79deg,
    var(--color-light-violet) 0%,
    var(--color-light-magenta) 100%
  );
  color: var(--color-white);
  display: flex;
  flex-direction: row;
  gap: 8px;
  width: 160px;
  max-width: 160px;
  padding: 11px 16px 10px 8px;
  align-items: center;
}

.ring {
  flex: 0 0 auto;
  border: 1px solid var(--color-very-light-magenta);
  width: 12px;
  height: 12px;
  border-radius: 100%;
}

.pricing-text {
  width: 100%;
  line-height: 11px;
}

.price {
  font-size: 12px;
  font-weight: 700;
  line-height: 11px;
}
.msg-right {
  background-color: var(--color-white);
  color: var(--color-desaturated-dark-violet);
}

.dog-pics {
  display: flex;
  gap: 8px;
}

.chat-img {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  object-fit: cover;
}

/* Chat Input */
.chat-input {
  width: 100%;
  background-color: var(--color-white);
  border-radius: 17px;
  padding: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.input-msg {
  margin-left: 19.5px;
  flex: 1fr;
  width: 100%;
  font-size: 9px;
  font-weight: 400;
  letter-spacing: -0.07px;
  color: var(--color-grayish-blue);
}

.send-btn {
  flex: 0 0 auto;
  width: 24px;
  height: 24px;
  background-color: var(--color-very-dark-desaturated-violet);
  border-radius: 100%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
  padding: 4px;
}

.send-btn img {
  width: 20px;
  height: 20px;
  object-fit: cover;
}
/* Text Conatiner */
.text-container {
  width: 445px;
}

.main-heading {
  color: var(--color-very-dark-desaturated-violet);
  font-size: 40px;
  font-weight: 500;
}

.text-container p {
  color: var(--color-dark-grayish-violet);
  line-height: 28px;
  font-size: 1em;
}

/* Attribution */
.attribution {
  font-size: 11px;
  text-align: center;
  display: absolute;
  bottom: 0;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
